{% extends "layout.htm" %}
{% block body %}
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div id="mainbody">
        <div class="daxm mdl-card mdl-cell--6-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     systemctl commands
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <table>
                    <thead>
                        <tr>
                            <td><b>Command</b></td>
                            <td><b>Description</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>list-units</td>
                            <td>List units currently in memory</td>
                        </tr>
                        <tr>
                            <td>list-sockets</td>
                            <td>List socket units currently in memory, ordered by address</td>
                        </tr>
                        <tr>
                            <td>list-timers</td>
                            <td>List timer units currently in memory, ordered by next elapse</td>
                        </tr>
                        <tr>
                            <td><a href="/systemctl/list-unit-files">list-unit-files</a></td>
                            <td>List installed unit files</td>
                        </tr>
                        <tr>
                            <td>preset-all</td>
                            <td>Enable/disable all unit files based on preset configuration</td>
                        </tr>
                        <tr>
                            <td>get-default</td>
                            <td>Get the name of the default target</td>
                        </tr>
                        <tr>
                            <td>show-environment</td>
                            <td>Dump environment</td>
                        </tr>
                        <tr>
                            <td>daemon-reload</td>
                            <td>Reload systemd manager configuration</td>
                        </tr>
                        <tr>
                            <td>daemon-reexec</td>
                            <td>Reexecute systemd manager</td>
                        </tr>
                        <tr>
                            <td>is-system-running</td>
                            <td>Check whether system is fully running</td>
                        </tr>
                        <tr>
                            <td>default</td>
                            <td>Enter system default mode</td>
                        </tr>
                        <tr>
                            <td>rescue</td>
                            <td>Enter system rescue mode</td>
                        </tr>
                        <tr>
                            <td>emergency</td>
                            <td>Enter system emergency mode</td>
                        </tr>
                        <tr>
                            <td>halt</td>
                            <td>Shut down and halt the system</td>
                        </tr>
                        <tr>
                            <td>poweroff</td>
                            <td>Shut down and power-off the system</td>
                        </tr>
                        <tr>
                            <td>reboot</td>
                            <td>Shut down and reboot the system</td>
                        </tr>
                        <tr>
                            <td>kexec</td>
                            <td>Shut down and reboot the system with kexec</td>
                        </tr>
                        <tr>
                            <td>exit</td>
                            <td>Request user instance or container exit</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>switch-root ROOT</td>
                            <td>Change to a different root file system</td>
                        </tr>
                        <tr>
                            <td>suspend</td>
                            <td>Suspend the system</td>
                        </tr>
                        <tr>
                            <td>hibernate</td>
                            <td>Hibernate the system</td>
                        </tr>
                        <tr>
                            <td>hybrid-sleep</td>
                            <td>Hibernate and suspend the system</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="daxm mdl-card mdl-cell--6-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     journalctl commands
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <table>
                    <thead>
                        <tr>
                            <td><b>Command</b></td>
                            <td><b>Description</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>list-units</td>
                            <td>List units currently in memory</td>
                        </tr>
                        <tr>
                            <td>--version</td>
                            <td>Show package version</td>
                        </tr>
                        <tr>
                            <td>-N --fields</td>
                            <td>List all field names currently used</td>
                        </tr>
                        <tr>
                            <td>-F --field=FIELD</td>
                            <td>List all values that a specified field takes</td>
                        </tr>
                        <tr>
                            <td>--disk-usage</td>
                            <td>Show total disk usage of all journal files</td>
                        </tr>
                        <tr>
                            <td>--vacuum-size=BYTES</td>
                            <td>Reduce disk usage below specified size</td>
                        </tr>
                        <tr>
                            <td>--vacuum-files=INT</td>
                            <td>Leave only the specified number of journal files</td>
                        </tr>
                        <tr>
                            <td>--vacuum-time=TIME</td>
                            <td>Remove journal files older than specified time</td>
                        </tr>
                        <tr>
                            <td>--verify</td>
                            <td>Verify journal file consistency</td>
                        </tr>
                        <tr>
                            <td>--sync</td>
                            <td>Synchronize unwritten journal messages to disk</td>
                        </tr>
                        <tr>
                            <td>--flush</td>
                            <td>Flush all journal data from /run into /var</td>
                        </tr>
                        <tr>
                            <td>--rotate</td>
                            <td>Request immediate rotation of the journal files</td>
                        </tr>
                        <tr>
                            <td>--header</td>
                            <td>Show journal header information</td>
                        </tr>
                        <tr>
                            <td>--list-catalog</td>
                            <td>Show all message IDs in the catalog</td>
                        </tr>
                        <tr>
                            <td>--dump-catalog</td>
                            <td>Show entries in the message catalog</td>
                        </tr>
                        <tr>
                            <td>--update-catalog</td>
                            <td>Update the message catalog database</td>
                        </tr>
                        <tr>
                            <td>--new-id128</td>
                            <td>Generate a new 128-bit ID</td>
                        </tr>
                        <tr>
                            <td>--setup-keys</td>
                            <td>Generate a new FSS key pair</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
