{% extends "layout.htm" %}
{% block body %}
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div id="mainbody">
        <div class="daxm mdl-card mdl-cell--6-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     systemd Units
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <ul>
                {% for unit in systemd_units %}
                    <li>{{ unit['unit'] }} / {{ unit['state'] }}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
