{% extends "layout.htm" %}
{% block body %}
    <header>
        <h1>{{ title }}</h1>
    </header>

    <div id="mainbody">
        <div class="daxm mdl-card mdl-cell--12-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     systemctl commands
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <table>
                    <thead>
                        <tr><td><b>Command</b></td><td><b>Description</b></td></tr>
                    </thead>
                    {% for result in systemctl_help %}
                        <tr>
                            <td nowrap="True">
                                {% if result[0] != '' %}
                                    {% if result[0] in systemctl_supported_options %}
                                        <a href="{{ systemctl_supported_options[result[0]] }}">{{ result[0] }}</a>
                                    {% else %}
                                        {{ result[0] }}
                                    {% endif %}
                                or
                                    {% if result[1] in systemctl_supported_options %}
                                        <a href="{{ systemctl_supported_options[result[1]] }}">{{ result[1] }}</a>
                                    {% else %}
                                        {{ result[1] }}
                                    {% endif %}
                                {% elif result[1] != '' %}
                                    {% if result[1] in systemctl_supported_options %}
                                        <a href="{{ systemctl_supported_options[result[1]] }}">{{ result[1] }}</a>
                                    {% else %}
                                        {{ result[1] }}
                                    {% endif %}
                                {% else %}
                                    {% if result[2] in systemctl_supported_options %}
                                        <a href="{{ systemctl_supported_options[result[2]] }}">{{ result[2] }}</a>
                                    {% else %}
                                        {{ result[2] }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ result[3] }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="daxm mdl-card mdl-cell--12-col mdl-shadow--2dp">
             <div class="mdl-card__title">
                 <h2 class="mdl-card__title-text">
                     journalctl commands
                 </h2>
             </div>
            <div class="mdl-card__actions mdl-card--border">
                <table>
                    <thead>
                        <tr><td><b>Command</b></td><td><b>Description</b></td></tr>
                    </thead>
                    {% for result in journalctl_help %}
                        <tr>
                            <td nowrap="True">
                                {% if result[0] != '' %}
                                    {% if result[0] in journalctl_supported_options %}
                                        <a href="{{ journalctl_supported_options[result[0]] }}">{{ result[0] }}</a>
                                    {% else %}
                                        {{ result[0] }}
                                    {% endif %}
                                or
                                    {% if result[1] in journalctl_supported_options %}
                                        <a href="{{ journalctl_supported_options[result[1]] }}">{{ result[1] }}</a>
                                    {% else %}
                                        {{ result[1] }}
                                    {% endif %}
                                {% else %}
                                    {% if result[1] in journalctl_supported_options %}
                                        <a href="{{ journalctl_supported_options[result[1]] }}">{{ result[1] }}</a>
                                    {% else %}
                                        {{ result[1] }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ result[2] }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
